pkgbase = linux-hardened-cacule
	pkgdesc = Security-Hardened Linux with the cacule scheduler
	pkgver = 5.15.3.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.15.3.tar.xz
	source = https://github.com/anthraxx/linux-hardened/releases/download/5.15.3-hardened1/linux-hardened-5.15.3-hardened1.patch
	source = cacule-5.15.patch
	source = cpu-patches.patch
	source = config
	sha256sums = a9f3dae18387b5a315bda66004cd10777a7dc5da11517214e4fd016fd5fc05e6
	sha256sums = 76149863582dacfaa5adec93f7f24fcfe5a66a7136cfe882330dae548243a78d
	sha256sums = c63a0d53ceef732ceb30f8ba5abc5424cf315552d780ffa95cdfa0a3920aafed
	sha256sums = 4f22a6e4e5fe6f3bb39ca39073fa812eb9c0dbb3ac9cec64ed0a90d06b54d32a
	sha256sums = 38582a283a8db9bd315d59b8b8bfa5950a2d594a22205916dc574711b9e5c3fc

pkgname = linux-hardened-cacule
	pkgdesc = The Security-Hardened Linux with the cacule scheduler kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-hardened-cacule-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux with the cacule scheduler kernel
