pkgbase = linux-cacule-rc
	pkgdesc = Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets
	pkgver = 5.15.rc1
	pkgrel = 1
	url = https://github.com/hamadmarri/cacule-cpu-scheduler
	arch = x86_64
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = libelf
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://git.kernel.org/torvalds/t/linux-5.15-rc1.tar.gz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/CacULE/v5.15/cacule-5.15.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/misc/0007-string.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-zstd.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/cpu.patch
	source = auto-cpu-optimization.sh
	md5sums = 5606898dc633148586c7d2b2fe13fbe1
	md5sums = 90a4aa59a3aba118134fcdfddb430f13
	md5sums = 50858a596a7436e37e14af4449c7de60
	md5sums = d6e5581b4fade267a28deb8e73d236f5
	md5sums = 52d324bcca2b2c41c739e257d5c6fd6e
	md5sums = ff4b20b981d9ae0bdda68f012b03e756
	md5sums = 7cf0b5c39d16da18451d1e7e7523d992

pkgname = linux-cacule-rc
	pkgdesc = The Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig

pkgname = linux-cacule-rc-headers
	pkgdesc = Headers and scripts for building modules for the Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets kernel
	depends = linux-cacule-rc
	depends = pahole
