pkgbase = linux-cacule-rt
	pkgdesc = Linux-Cacule-RDB-RT
	pkgver = 5.10.65
	pkgrel = 1
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = git
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.10.65.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/patch-5.10.65-rt53.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/CacULE/v5.10/xanmod-rt/cacule-5.10-rt.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/bbr2-patches-v3/0001-bbr2-5.10-introduce-BBRv2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/cpu-patches-v2/0001-cpu-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/lqx-patches-v4/0001-lqx-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/zstd-upstream-patches/0001-zstd-upstream-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/futex2-trunk-patches-v3/0001-futex2-resync-from-gitlab.collabora.com.patch
	md5sums = 234e0c5594736e7ddf60caa79e7a36c3
	md5sums = 59b860c5b3dfc8e2de4c7711d9cb7e5e
	md5sums = 8693e190208b3dce1a8874af70f8f511
	md5sums = 613a025638728724ccdb4869dbd42c27
	md5sums = 45704a71e1cb971e337700c52da739f0
	md5sums = 1ddeca3dfe8d2dfbf722a6e19ab500cd
	md5sums = db72f9fe09be3f11db7e1e268a5ac3eb
	md5sums = 0575ffbb96ab5e5b1b2e378667e276ca
	md5sums = 0fabe82284ef611e30d9d4e1e5529215

pkgname = linux-cacule-rt
	pkgdesc = The Linux-Cacule-RDB-RT kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-cacule-rt-headers
	pkgdesc = Headers and scripts for building modules for the Linux-Cacule-RDB-RT kernel
